*{
  padding: 0;
  margin: 0;
}

/*html, body {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  overflow: hidden; !* 禁止滚动条 *!*/
/*}*/

#cesiumContainer {
  position: absolute;
  top: 0;
  left: 190px;
  right:0;
  /*width: 100%;*/
  height: 100%;
  overflow: hidden; /* 确保没有滚动条 */
}
/*#cesiumContainer .cesium-viewer-toolbar {*/
/*  display: none; !* 隐藏 Cesium 默认工具栏 *!*/
/*}*/
#cesiumContainer .cesium-viewer-bottom {
  display: none; /* 隐藏 Cesium 默认底部工具栏 */
}
/*#cesiumContainer .cesium-viewer-geocoder {*/
/*  display: none; !* 隐藏 Cesium 默认搜索框 *!*/
/*}*/
#cesiumContainer .cesium-viewer-credit {
  display: none; /* 隐藏 Cesium 默认版权信息 */
}
#cesiumContainer .cesium-viewer-cesium-logo {
  display: none; /* 隐藏 Cesium 默认 Logo */
}
#cesiumContainer .cesium-viewer-timeline {
  display: none; /* 隐藏 Cesium 默认时间轴 */
}
/*#cesiumContainer .cesium-viewer-animation {*/
/*  display: true; !* 隐藏 Cesium 默认动画控制器 *!*/
/*}*/
#cesiumContainer .cesium-viewer-fullscreen {
  display: none; /* 隐藏 Cesium 默认全屏按钮 */
}
#toggleRouteButton {
  position: absolute;
  bottom: 10px; /* 距离容器底部 10px */
  right: 10px; /* 距离容器右侧 10px */
  z-index: 10; /* 确保按钮位于 Cesium 容器之上 */
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6); /* 半透明背景 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#toggleRouteButton:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 鼠标悬停时背景颜色加深 */
}

#layerDropdown {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#layerButton {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#layerButton img {
  width: 30px;
  height: 30px;
}

#layerButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#layerSelect {
  position: absolute;
  top: 60px;
  left: 0;
  width: 110px;
  border: 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: rgb(37, 138, 179);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

#routeDropdown {
  position: absolute;
  top: 10px; /* 调整位置 */
  right: 10px;
  z-index: 10;/* 确保下拉框位于 Cesium 容器之上 */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 4px;
}

#routeSelect {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 4px;
  width: 150px; /* 设置宽度 */
  background-color: rgba(255, 255, 255, 0);
}

#routeDropdown button {
  /*margin-top: 5px;*/
  padding: 5px 10px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#routeDropdown button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#searchBar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 搜索框 */
#searchBar .search-icon {
  margin-right: 5px;
  font-size: 16px;
}

#searchInput {
  border: 1px ;/*solid #cccccccf */
  color:rgb(60, 62, 155);
  background-color:rgba(6, 6, 6, 0.6);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  outline: none;
}

#searchBar button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  /*color: rgb(60, 62, 155);*/
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBar button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#mouse-info {
  position: absolute;
  right: 32px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  font-family: monospace;
  z-index: 1000;
}