*{
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 禁止滚动条 */
}

#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 确保没有滚动条 */
}
#cesiumContainer .cesium-viewer-toolbar {
  display: none; /* 隐藏 Cesium 默认工具栏 */
}
#cesiumContainer .cesium-viewer-bottom {
  display: none; /* 隐藏 Cesium 默认底部工具栏 */
}
#cesiumContainer .cesium-viewer-geocoder {
  display: none; /* 隐藏 Cesium 默认搜索框 */
}
#cesiumContainer .cesium-viewer-credit {
  display: none; /* 隐藏 Cesium 默认版权信息 */
}
#cesiumContainer .cesium-viewer-cesium-logo {
  display: none; /* 隐藏 Cesium 默认 Logo */
}
#cesiumContainer .cesium-viewer-timeline {
  display: none; /* 隐藏 Cesium 默认时间轴 */
}
#cesiumContainer .cesium-viewer-animation {
  display: none; /* 隐藏 Cesium 默认动画控制器 */
}
#cesiumContainer .cesium-viewer-fullscreen {
  display: none; /* 隐藏 Cesium 默认全屏按钮 */
}
#toggleRouteButton {
  position: absolute;
  top: 10px; /* 距离容器顶部 10px */
  left: 10px; /* 距离容器左侧 10px */
  z-index: 10; /* 确保按钮位于 Cesium 容器之上 */
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6); /* 半透明背景 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#toggleRouteButton:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 鼠标悬停时背景颜色加深 */
}

#toggleLayerButton {
  position: absolute;
  bottom: 10px; /* 距离容器底部 10px */
  right: 10px; /* 距离容器右侧 10px */
  z-index: 10; /* 确保按钮位于 Cesium 容器之上 */
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6); /* 半透明背景 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#toggleLayerButton:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 鼠标悬停时背景颜色加深 */
}